@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap");
@import "tailwindcss";

@theme {
  /* Colors */
  --color-cyan-600: #4d96a9;
  --color-cyan-300: #8fe3f9;
  --color-purple-600: #855fb1;
  --color-purple-300: #d9b8ff;
  --color-slate-900: #28283d;
  --color-slate-600: #87879d;
  --color-slate-300: #d1f1df;
  --color-white: #fafafa;

  /* Typography */
  --font-red-hat: "Red Hat Display", sans-serif;
}

@layer components {
  .text-preset-1 {
    font-weight: var(--font-weight-black);
    font-size: 4rem;
    line-height: 1.1;
    text-align: center;
  }

  .text-preset-2 {
    font-weight: var(--font-weight-black);
    font-size: 2.5rem;
    line-height: 1.1;
    text-align: center;
  }

  .text-preset-3 {
    font-weight: var(--font-weight-black);
    font-size: 1rem;
    line-height: 1.1;
    letter-spacing: 4px;
    text-align: center;
    /* text-transform: uppercase; */
  }

  .text-preset-4 {
    font-weight: var(--font-weight-medium);
    font-size: 1.125rem;
    line-height: 1.1;
    text-align: center;
  }

  .text-preset-5 {
    font-weight: var(--font-weight-black);
    font-size: 1rem;
    line-height: 1.5;
  }
}
